body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:50px;
}
#u1592 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:266px;
  width:300px;
  height:58px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:50px;
}
#u1592 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1592_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:87px;
}
#u1593 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:118px;
  width:95px;
  height:87px;
  display:flex;
}
#u1593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:2px;
}
#u1594 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:323px;
  width:288px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.0667782675635203deg);
  -moz-transform:rotate(-0.0667782675635203deg);
  -ms-transform:rotate(-0.0667782675635203deg);
  transform:rotate(-0.0667782675635203deg);
}
#u1594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1595 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:395px;
  width:715px;
  height:158px;
}
#u1596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:38px;
}
#u1596 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:38px;
  display:flex;
  font-size:27px;
}
#u1596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:38px;
}
#u1597 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:0px;
  width:357px;
  height:38px;
  display:flex;
  font-size:27px;
}
#u1597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:30px;
}
#u1598 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:38px;
  width:358px;
  height:30px;
  display:flex;
  font-size:18px;
  color:#0000FF;
}
#u1598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:30px;
}
#u1599 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:38px;
  width:357px;
  height:30px;
  display:flex;
  font-size:18px;
  color:#0000FF;
}
#u1599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:30px;
}
#u1600 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:358px;
  height:30px;
  display:flex;
  font-size:18px;
  color:#0000FF;
}
#u1600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:30px;
}
#u1601 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:68px;
  width:357px;
  height:30px;
  display:flex;
  font-size:18px;
  color:#0000FF;
}
#u1601 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:30px;
}
#u1602 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:358px;
  height:30px;
  display:flex;
  font-size:18px;
  color:#0000FF;
}
#u1602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:30px;
}
#u1603 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:98px;
  width:357px;
  height:30px;
  display:flex;
  font-size:18px;
  color:#0000FF;
}
#u1603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:30px;
}
#u1604 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:128px;
  width:358px;
  height:30px;
  display:flex;
  font-size:18px;
  color:#0000FF;
}
#u1604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:30px;
}
#u1605 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:128px;
  width:357px;
  height:30px;
  display:flex;
  font-size:18px;
  color:#0000FF;
}
#u1605 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
}
#u1606 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:42px;
  width:69px;
  height:33px;
  display:flex;
  font-size:25px;
}
#u1606 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1606_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
